<plist version="1.0">
	<dict>
		<key>externalServices</key>
		<dict>
			<key>provider</key>
			<string>com.bored.services.ExternalService_MochiAPI</string>
			<key>gameId</key>
			<string>84993a1de4031cd8</string>
		</dict>
		<key>engineScale</key>
		<real>100</real>
		<key>gameplay</key>
		<dict>
			<key>releasePosition</key>
			<dict>
				<key>x</key>
				<real>0</real>
				<key>y</key>
				<real>0</real>
				<key>z</key>
				<real>0</real>
			</dict>
			<key>thrust</key>
			<real>20</real>
			<key>angle</key>
			<real>10</real>
			<key>gravity</key>
			<real>9.8</real>
		</dict>
		<key>dart</key>
		<dict>
			<key>radius</key>
			<integer>1</integer>
		</dict>
		<key>dartboard</key>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<real>0</real>
				<key>y</key>
				<real>0</real>
				<key>z</key>
				<real>1.8</real>
			</dict>
			<key>collisionMap</key>
			<dict>
				<key>bitmap</key>
				<string>com.bored.games.assets.PrototypeDartboardTexture_BMP</string>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
			</dict>
		</dict>
		<key>textures</key>
		<dict>
			<key>dart</key>
			<dict>
				<key>bitmap</key>
				<array>
					<string>com.bored.games.assets.UnionJackDartTexture_BMP</string>
					<string>com.bored.games.assets.JollyRogerDartTexture_BMP</string>
				</array>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
			</dict>
			<key>board</key>
			<dict>
				<key>bitmap</key>
				<string>com.bored.games.assets.PrototypeDartboardTexture_BMP</string>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
			</dict>
			<key>wall</key>
			<dict>
				<key>bitmap</key>
				<string>com.bored.games.assets.PrototypeWallTexture_BMP</string>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>maxThrust</key>
		<real>50</real>
		<key>readyThreshold</key>
		<real>119</real>
		<key>shootThreshold</key>
		<real>1</real>
		<key>shootMultiplier</key>
		<real>30</real>
	</dict>
</plist>