<?xml version="1.0" encoding="utf-8" ?>
<appsettings>
<add key="throwsPerTurn" type="int" value="3" />

<add key="externalServicesProvider" type="String" value="com.bored.services.ExternalService_MochiAPI" />
<add key="externalServicesGameId" type="String" value="84993a1de4031cd8" />

<add key="away3dEngineScale" type="int" value="100" />

<add key="dartPointRadius" type="int" value="1" />
<add key="dartMinThrust" type="int" value="4" />
<add key="dartMaxThrust" type="int" value="15" />

<add key="aiOpponentName" type="String" value="testai" />

<add key="wallTextureBitmap" type="String" value="com.bored.games.assets.WallTexture_BMP" />
<add key="wallTextureWidth" type="int" value="700" />
<add key="wallTextureHeight" type="int" value="550" />

<add key="boardTextureBitmap" type="String" value="com.bored.games.assets.DartboardTexture_BMP" />
<add key="boardTextureWidth" type="int" value="236" />
<add key="boardTextureHeight" type="int" value="237" />

<add key="dartTextureBitmapUJ" type="String" value="com.bored.games.assets.UnionJackDartTexture_BMP" />
<add key="dartTextureBitmapJR" type="String" value="com.bored.games.assets.JollyRogerDartTexture_BMP" />
<add key="dartTextureWidth" type="int" value="256" />
<add key="dartTextureHeight" type="int" value="256" />

<add key="boardCollisionMap" type="String" value="com.bored.games.assets.DartboardColorMap_MC" />

<add key="defaultThrust" type="Number" value="5" />
<add key="defaultAngle" type="Number" value="10" />
<add key="defaultGravity" type="Number" value="9.8" />
<add key="defaultReleasePositionX" type="Number" value="0" />
<add key="defaultReleasePositionY" type="Number" value="0" />
<add key="defaultReleasePositionZ" type="Number" value="0" />

<add key="dartboardPositionX" type="Number" value="0" />
<add key="dartboardPositionY" type="Number" value="0" />
<add key="dartboardPositionZ" type="Number" value="5" />

<add key="scoreboardMovie" type="String" value="com.bored.games.assets.hud.Scoreboard_MC" />
<add key="throwIndicatorMovie" type="String" value="com.bored.games.assets.hud.ThrowIndicator_MC" />
</appsettings>