<?xml version="1.0" encoding="utf-8" ?>
<appsettings>
<add key="throwsPerTurn" type="int" value="3" />

<add key="externalServicesProvider" type="String" value="com.bored.services.ExternalService_MochiAPI" />
<add key="externalServicesGameId" type="String" value="e85ee5f3a09f56cf" />

<add key="away3dEngineScale" type="int" value="100" />

<add key="dartPointRadius" type="int" value="1" />
<add key="dartMinThrust" type="int" value="8" />
<add key="dartMaxThrust" type="int" value="16" />
<add key="dartThrustScale" type="Number" value="0.015" />
<add key="dartLeanScale" type="Number" value="0.001" />
<add key="dartRollSpeed" type="Number" value="3" />

<add key="simulationStepScale" type="Number" value="0.025" />

<add key="aiOpponentName" type="String" value="testai" />
<add key="aiOptimumThrust" type="Number" value="12" />
<add key="aiThrustErrorRangeMin" type="Number" value="0.8" />
<add key="aiThrustErrorRangeMax" type="Number" value="2.4" />
<add key="aiLeanRangeMin" type="Number" value="0.3" />
<add key="aiLeanRangeMax" type="Number" value="0.9" />

<add key="wallTextureBitmap" type="String" value="com.bored.games.assets.WallTexture_BMP" />
<add key="wallTextureWidth" type="int" value="700" />
<add key="wallTextureHeight" type="int" value="550" />

<add key="boardTextureBitmap" type="String" value="com.bored.games.assets.DartboardTexture_BMP" />
<add key="boardTextureWidth" type="int" value="236" />
<add key="boardTextureHeight" type="int" value="237" />

<add key="playerDartTexture" type="String" value="dartuv_plaid" />
<add key="opponentDartTexture" type="String" value="dartuv_simon" />
<add key="dartTextureWidth" type="int" value="256" />
<add key="dartTextureHeight" type="int" value="256" />

<add key="dartModelScale" type="Number" value="4" />

<add key="boardCollisionMap" type="String" value="com.bored.games.assets.DartboardColorMap_MC" />

<add key="cameraPositionX" type="Number" value="0" />
<add key="cameraPositionY" type="Number" value="0" />
<add key="cameraPositionZ" type="Number" value="-4" />

<add key="defaultAngle" type="Number" value="10" />
<add key="defaultGravity" type="Number" value="9.8" />
<add key="defaultStartPositionX" type="Number" value="-1000" />
<add key="defaultStartPositionY" type="Number" value="-1000" />
<add key="defaultStartPositionZ" type="Number" value="0" />

<add key="dartboardPositionX" type="Number" value="0" />
<add key="dartboardPositionY" type="Number" value="0" />
<add key="dartboardPositionZ" type="Number" value="5" />
<add key="dartboardScale" type="Number" value="1.3" />

<add key="cursorPositionZ" type="Number" value="4" />

<add key="scoreboardMovie" type="String" value="com.bored.games.assets.hud.Scoreboard_MC" />
<add key="scoreboardPositionX" type="Number" value="80" />
<add key="scoreboardPositionY" type="Number" value="200" />
<add key="throwIndicatorMovie" type="String" value="com.bored.games.assets.hud.ThrowIndicatorV2_MC" />
<add key="throwIndicatorPositionX" type="Number" value="665" />
<add key="throwIndicatorPositionY" type="Number" value="410" />
<add key="abilityDockMovie" type="String" value="com.bored.games.assets.hud.AbilityDock_MC" />
<add key="abilityDockPositionX" type="Number" value="16" />
<add key="abilityDockPositionY" type="Number" value="473" />
<add key="controlPanelMovie" type="String" value="com.bored.games.assets.hud.ButtonPanel_MC" />
<add key="controlPanelPositionX" type="Number" value="560" />
<add key="controlPanelPositionY" type="Number" value="17" />

<add key="anthonyAccuracy" type="Number" value="0.7" />
<add key="anthonyStepScale" type="Number" value="0.05" />
<add key="bigBillAccuracy" type="Number" value="0.7" />
<add key="bigBillStepScale" type="Number" value="0.05" />
<add key="ireneAccuracy" type="Number" value="0.7" />
<add key="ireneStepScale" type="Number" value="0.05" />
<add key="mackAccuracy" type="Number" value="0.7" />
<add key="mackStepScale" type="Number" value="0.05" />
<add key="professorAccuracy" type="Number" value="0.7" />
<add key="professorStepScale" type="Number" value="0.05" />
<add key="sammyAccuracy" type="Number" value="0.7" />
<add key="sammyStepScale" type="Number" value="0.05" />
<add key="simonAccuracy" type="Number" value="0.7" />
<add key="simonStepScale" type="Number" value="0.05" />

</appsettings>